<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>{{key}}</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{bin}}</string>
	</array>
	<key>WorkingDirectory</key>
	<string>{{path}}</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ExitTimeOut</key>
	<integer>{{kill_timeout}}</integer>
{{#user}}
	<key>UserName</key>
	<string>{{user}}</string>
{{/user}}
{{#ld_respawn_wait}}
	<key>ThrottleInterval</key>
	<integer>{{ld_respawn_wait}}</integer>
{{/ld_respawn_wait}}
{{#watch_paths}}
	<key>WatchPaths</key>
	<array>
	{{#watch_paths_array}}
		<string>{{path}}</string>
	{{/watch_paths_array}}
	</array>
{{/watch_paths}}
</dict>
</plist>
